DB_URL="postgres://postgres:postgres@localhost:5432/mycustodialwallet"

DB_DIALECT=postgres

JWT_SECRET=template

PORT=8000

NETCORE_API=

EMAIL_FROM=mycustodialwallet@claretnnamocha.com
EMAIL_NAME="My Custodial Wallet"

FRONTEND_BASEURL="https://mycustodialwallet.herokuapp.com"

ETH_PROVIDER_URL=https://rinkeby.infura.io/v3/<INFURA_API_KEY>

WALLET_SECRET=wallet

BTC_NETWORK=testnet

WETH_NATIVE_CONTRACT=0xc778417E063141139Fce010982780140Aa0cD5Ab

UNISWAP_ROUTER_CONTRACT=0xE592427A0AEce92De3Edee1F18E0157C05861564

ETH_CHAIN_ID=4